<!-- 地址栏 -->
<ion-view>
  <div class="bar bar-header">
      <button class="button button-clear icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
      <div class="title">选择地址</div>
      <button class="button button-clear button-dark icon"
          ng-class="editShown?'ion-ios-color-wand-outline': 'ion-ios-trash-outline'"
          ng-click="toggleEditShown()"></button>
  </div>

  <ion-content class="has-header">
<section>
<div class="address-select-info" ng-show="addresses.length != 0">
    <div class="address-row" ng-repeat="addr in addresses"
        ng-click="selectAddress(addr)">
        <span class="addr-icon"></span>
        <div class="address-info">
            <div class="">{{addr.receiver}}</div>
            <div class="">{{addr.street1}}</div>
            <div class="">{{addr.street2}}</div>
            <div class="">{{addr.city}}, {{addr.state}}</div>
            <div class="">{{addr.country}}, {{addr.postcode}}</div>
        </div>
        <div ng-hide="editShown">
            <span class="address-edit">
                <a address-form addr-id="addr.id">修改地址</a>
            </span>
            <span class="select-icon select"
                ng-class="{'selected': selectedAddress == addr}">
            </span>
        </div>
        <div  ng-show="editShown">
            <span class="close-icon" ng-click="removeAddr(addr.id)">
        </div>
    </div>
</div>
</section>

<section>
<div class="address-select-info" address-form>
    <div class="address-row">
        <span class="addr-icon"></span>
        <div class="address-info">
            <div class="">新增收件地址</div>
        </div>
        <div class="go-add">+</div>
    </div>

</div>
</section>

  </ion-content>

    <ion-footer-bar class="bar-assertive footer-button" ng-click="confirmAddress()" >
        <div class="title">确定</div>
    </ion-footer-bar>
</ion-view>
