<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear icon ion-ios-arrow-back button-dark" ng-click="closeBindEmailBox()"></button>
    </div>
    <div class="title">绑定邮箱</div>
  </ion-header-bar>
  <ion-content class="login-page overlay-content" scroll="false" ng-controller="bindEmailCtrl">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="邮箱地址" ng-model="bindEmailForm.email">
      </label>
    </div>

    <button class="button button-block login-btn" ng-click="bind()">绑定</button>

  </ion-content>
</ion-modal-view>
