<!-- 运费估算 -->
<ion-view>
  <div class="bar bar-header">
      <button class="button button-clear icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
      <div class="title">运费估算</div>
  </div>

  <ion-content class="has-header">

<section>
<form name="queryForm" ng-submit="queryFee()">
    <div class="list">
        <label class="item item-input item-select">
           <div class="input-label" ng-class="{'warning': queryForm.country.$error.required && !queryForm.country.$pristine}">
                国家
            </div>
            <select placeholder="请选择寄往国家" ng-model="query.country" name="country"
                ng-options="country for country in COUNTRIES" required>
            </select>
        </label>
        <label class="item item-input">
            <div class="input-label" ng-class="{'warning': queryForm.weight.$error.required && !queryForm.weight.$pristine}">
               重量
            </div>
            <input style="margin-right: 12px" class="text-right" placeholder="请输入商品重量" type="number" ng-model="query.weight" name="weight" required /><span class="cal-unit">克</span>
       </label>
    </div>
    <div class="padding">
        <button class="button button-block button-assertive button-cart">费用估算</button>
    </div>
</form>
</section>

<section>
<div class="address-select-info">
    <div class="address-row" ng-repeat="provider in provider_prices track by $index">
        <div class="address-info provider">
            <div class="info-header">{{provider.name}}
                ({{provider.service_intro.duration}})</div>
            <div class="desc">首重{{provider.init_weight}}g/${{provider.init_price}}，
                续重{{provider.continued_weight}}g/${{provider.continued_price}}</div>
            <div class="desc">{{provider.rule_desc}}</div>
        </div>
        <div>
            <span class="provider-price">
                {{provider.cn_shipping | currency }}
            </span>
        </div>
    </div>
</div>
</section>

  </ion-content>
</ion-view>
