<ion-view>
    <div class="bar bar-header">
        <button class="button button-clear icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
        <div class="title">邮寄限制</div>
    </div>


    <ion-content class="has-header homepage">
<div class="faq-row">
    <div class="faq-title">普通商品:</div>
    <div class="faq-desc">
    衣物类、书箱、鞋帽类、围巾类、床上用品类、窗帘类、玩具类、各种背包、提包与行李箱类、女生用品（纸巾、卫生棉等）、文具类、餐具类、厨房用品类、各种石头类工艺品、画框类、电器及其它电子产品（不带电池）、其它不需要海关检验检疫的物品;
    </div>
</div>

<div class="faq-row">
    <div class="faq-title">敏感商品:</div>
    <div class="faq-desc">
    地方小吃、干货、茶叶、各种零食饼干、常用药品（感冒药、消炎药、肠胃药、清火去湿及其它非精神类或带有麻醉性质的药品）、光碟、带有电池的电子产品、国际品牌的全新物品、化妆品等；
    </div>
</div>


<div class="faq-row">
    <div class="faq-title">禁运商品:</div>
    <div class="faq-desc">
    液体类、粉末类、文物古玩类、来自疫区的食品药品、易燃易爆品、各种管制刀具（包括菜刀）、枪枝、鲜活类、毒品、化学品、色情及政治内容的阅读物、世界各国流通货币、有价证券、邮票等海关明令禁止运输的物品;
    </div>
</div>
</section>

    </ion-content>
</ion-view>
