<!-- 商品列表 -->
<ion-view>
    <div class="bar bar-header">
      <button class="button button-clear icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
      <div class="title">#{{title}}</div>
    </div>
    <ion-content class="has-header homepage">
        <ion-refresher
            pulling-text="下拉刷新..."
            on-refresh="doRefresh()"
            spinner="spiral">
        </ion-refresher>

        <div class="col col-50 animated fadeIn"
            collection-repeat="item in items" ng-click="goItem(item.item_id)">
            <div class="item item-image">
                <img ng-src="{{item.thumbnail}}" cache-src>
            </div>
            <div class="item item-text-wrap" href="#">
                <h2 class="product-title" style="overflow: hidden;">{{item.title}}</h2>
                <p class="product-prices">
                    <span class="curr-price">{{item.price | currency}}</span>
                    <del class="orig-price">{{item.orig_price | currency}}</del>
                </p>
            </div>
        </div>

        <ion-infinite-scroll
            on-infinite="loadMore()"
            distance="1"
            spinner='spiral'
            ng-if="moreDataCanBeLoaded()">
        </ion-infinite-scroll>

        <div class="center-ico" ng-if="isEmpty()">
            <i class="icon ion-ios-grid-view-outline"></i>

            <h1 >暂无此类商品</h1>
        </div>

    </ion-content>
</ion-view>
